<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="timer header__timer">
                <div class="timer__hours">00</div>
                <div class="timer__dots">:</div>
                <div class="timer__minutes">00</div>
                <div class="timer__dots">:</div>
                <div class="timer__seconds">00</div>
            </div>
            <div class="whether header__whether">
                <div class="">
                    <div class="whether__location"></div>
                    <img class="whether__icon" src="" alt="whether-icon">
                </div>
                <div class="whether__temp"></div>
            </div>
        </div>
    </div>
</header>