<header class="header">
    <div class="container">
        <div class="timer header__timer">
            <div class="timer__hours">00</div>
            <div class="timer__dots">:</div>
            <div class="timer__minutes">00</div>
            <div class="timer__dots">:</div>
            <div class="timer__seconds">00</div>
        </div>
    </div>
</header>