.footer {
    padding: 120px 20px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__date {
        color: var(--text-color);
        font-size: 20px;
    }

    &__info {
        color: var(--text-color);
        font-size: 15px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 80px 20px;

        &__date {
            font-size: 17px;
        }

        &__info {
            font-size: 14px;
        }
    }
}

@media (max-width: 375px)  {
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        
    }
}