:root {
    --text-color: rgb(67, 203, 221); 
}

body {
    background-color: rgb(19, 64, 100);
    
}

.main {
    padding-top: 80px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.todo {
    max-width: 500px;
    min-height: 210px;
    margin: 0 auto;
    padding: 20px 11px;
    border: 1px solid lightgray;
    border-radius: 12px;
    transition: all 1.6s;
}

.todo h2 {
    margin-top: 54px;
    text-align: center;
    color: var(--text-color);
}

.title {
    font-size: 31px;
}

.todo__title {
    text-align: center;
    color: var(--text-color);
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
}

.todo__form {
    margin-top: 27px;
}

.form__input {
    display: block;
    min-width: 266px;
    padding: 5px 8px 5px 7px;
    border: 1px solid lightgray;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    overflow: hidden;
    height: 34px;
    min-height: 34px;
    resize: vertical;
}

.list__edit {
    width: 100%;
    height: 65px;
    min-height: 65px;
    max-width: 300px;
    max-height: 100%;
    overflow: hidden;
    resize: vertical;
    border-radius: 7px;
    outline: none;
}

.form__input::-webkit-resizer {
    /* background-image: url("https://davidwalsh.name/wp-content/themes/jack/images/sprite.png"); */
    /* background-position: top left; */
    background-image: url("https://avatars.mds.yandex.net/i?id=2f265391eb11d0e5bcead5ffd13849294cfefe74-10411335-images-thumbs&n=13");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}

.set {
    display: flex;
    align-items: center;
    justify-content: center;
}


.todo__set {
    margin-top: 20px;
    gap: 13px;
}


.button {
    min-width: 91px;
    padding: 6px 19px;
    border: none;
    border-radius: 7px;
    transition: all 0.2s;
}

.list__edit-button {
    align-self: flex-end;
    min-width: unset;
    padding: 3px 12px;
    margin-left: 5px;
    border: 2px solid rgb(248, 198, 104);
}

.set__button {
    min-width: 115px;
    padding: 8px 15px;
    background-color: rgb(76, 105, 199);
    border: 2px solid var(--text-color);
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
}

.form__button:active {
    background-color: rgb(190, 215, 252);
}

.set__button:active {
    background-color: rgb(89, 121, 228);
}


.list {
    list-style-type: none;
    padding: 0;
}

.list div {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 8px;
    max-width: 70px;
}

.list li + li {
    margin-top: 10px;
}

.todo__list {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 21px;
}

.target-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 20px 10px 10px;
    border: 2px solid lightgray;
    border-radius: 7px;
    text-align: center;
    line-height: 26px;
    color: var(--text-color);
    transition: all 0.4s;
    animation: fadeIn 0.8s;
}


.list__text {
    padding-right: 28px;
    overflow-wrap: anywhere;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: rgb(181, 239, 247);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.list__item span.check,
.list__item span.denied,
.list__item span.reject {
    padding: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}

.list__item span.check {
    font-size: 18px;
    font-weight: 600;
    color: rgb(209, 206, 206);

    &:hover {
        color:#fff;
    }
}

.list__item span.denied {
    font-size: 18px;
    color: rgb(248, 198, 104);

    &:hover {
        color: rgb(241, 152, 63)
    }
}

.list__item span.reject {
    font-size: 13px;
    color: rgb(209, 206, 206);

    &:hover {
        color:#fff;
    }
}

.list__item_done {
    color: rgb(98 187 98);
    border: 2px solid rgb(98 187 98);
}

.list__item_reject {
    color: gray;
    border: 2px solid gray;
}



@media (max-width: 1440px) {
    .container {
        max-width: 1200px
    }        
}
    
@media (max-width: 1200px) {
    .container {
        max-width: 968px
    }    
}
    
@media (max-width: 992px) {
    .container {
        max-width: 695px
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 540px
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    
    .todo {
        width: 100%;
        padding: 18px 11px;
    }

    .todo__title {
        font-size: 27px;
    }

    .todo__form {
        justify-content: space-around;
        padding: 0;
    }

    .form__input {
        min-width: unset;
        max-width: 220px;
    }

    .button {
        min-width: 96px;
    }

    .list__edit-button {
        min-width: unset;
        padding: 2px 4px;
    }

    .set__button {
        min-height: 54px;
        padding: 4px 7px;
    }

    .todo__list  {
        max-width: 93%;
    }

    .list__item span.check {
        font-size: 16px;
        font-weight: 400;
    }

    .list__text {
        padding-right: 25px;
    }
}

@media (max-width: 430px) {
    .form__input {
        min-width: 207px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    } 

    .todo {
        padding: 18px 5px;
    }

    .todo__title {
        font-size: 22px;
    }

    .form__input {
        min-width: 165px;
    }

    .todo__set {
        gap: 7px;
    }

    .button {
        min-width: 75px;
        padding: 4px 6px;
    }
    
    .list__edit-button {
        min-width: unset;
        padding: 2px 4px;
    }
} 